.h1{
    text-align: center;
    
 }
 .foto{
     background-color: black;
 }
 .data{
     font-weight: bold;
     font-size: 20px;
     text-align: center;
 }
 .pe{
     font-weight: bold;
     font-size: 20px;
     text-align: center;
 }